<div class="recent-listing-2 align-sub-main-child">
    <div class="container arc-main-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading section-heading-2">
                    <h2>Listing</h2>
                    <h6>See all the albums listed</h6>
                </div>
                <div class="container main-container mt-5 mb-5">
                  <div class="d-flex justify-content-center row">
                      <div class="col-md-10">
<!--                                 item
-->                        
<div class="card">
<div class="card-header">
<img src="https://i.imgur.com/WHCLvMB.jpeg" alt="rover" />
</div>
<div class="card-body">
<span class="tag tag-teal">Hip-Hop</span>
<h4>
  ASAP Rocky
</h4>
<p>
  Aenean massa. Cum sociis natoque penatibus et 
</p>
<div class="user">
<img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
<div class="user-info">
  <h5>July Dec</h5>
  <small>2h ago</small>
</div>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<img src="https://i.imgur.com/WHCLvMB.jpeg" alt="rover" />
</div>
<div class="card-body">
<span class="tag tag-teal">Hip-Hop</span>
<h4>
    ASAP Rocky
</h4>
<p>
    Aenean massa. Cum sociis natoque penatibus et 
</p>
<div class="user">
  <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
  <div class="user-info">
    <h5>July Dec</h5>
    <small>2h ago</small>
  </div>
</div>
</div>
</div>
<div class="card">
<div class="card-header">
<img src="https://i.imgur.com/WHCLvMB.jpeg" alt="rover" />
</div>
<div class="card-body">
<span class="tag tag-teal">Hip-Hop</span>
<h4>
    ASAP Rocky
</h4>
<p>
    Aenean massa. Cum sociis natoque penatibus et 
</p>
<div class="user">
  <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />
  <div class="user-info">
    <h5>July Dec</h5>
    <small>2h ago</small>
  </div>
</div>
</div>
</div>
</div>


                      </div>
                  </div>
              </div>
            </div>
           </div>

        </div>