<style>
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: lightgray;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #11171a;
  border-radius: 10px;
}

    .recent-listing{
        overflow-x: hidden !important;
    }

</style>

<div class="recent-listing align-sub-main-child-2">
    <div class=" arc-main-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                  <h2 class="album-padding">Albums</h2>
                  <h6>See all the albums you searched for</h6>
                </div>
                <div class="container main-container mt-5 mb-5">
                  <div class="d-flex justify-content-center row">
                      <div class="col-md-10">
<!--                                 item
-->  
                    <ul>   
                           <li *ngFor="let item of FILTEREDJSONPOSTS">
                            <div class="row p-2 bg-white border rounded">
                              <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ item.shownthumbnaulurl }}"></div>
                              <div class="col-md-6 mt-1">
                                  <a href="{{ item.url }}" target="_blank"><h5>{{ item.songname }} </h5></a>
                                  <div class="d-flex flex-row">
                                      <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                  </div>
                                  <div class="mt-1 mb-1 spec-1"><span>{{ item.genre }}</span></div>
                                  <p class="text-justify text-truncate para mb-0">
                                       {{ item.title}}
                                 </p>
                              </div>
                              <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                  <div class="d-flex flex-row align-items-center">
                                  </div>
                                  <h6 class="text-success">Options</h6>
                                  <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Details</button><button (click)="AddToList(item.id)" class="btn btn-outline-primary btn-sm mt-2" type="button">Add to list</button></div>
                              </div>
                          </div>
                          </li>
                          
                          </ul>
                        
                      </div>
                  </div>
              </div>
            </div>
           </div>

        </div>
    </div>