  <style>
 .sub-container{
     transform: translate(22vw,-1.5vw);
 }
  </style>

  <html lang="en">
  <head>
  
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
  
      <!-- Bootstrap core CSS -->
      <link href="/frontend/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
      <!-- Additional CSS Files -->
      <link rel="stylesheet" href="/frontend/assets/css/fontawesome.css">
      <link rel="stylesheet" href="/frontend/assets/css/templatemo-plot-listing.scss">
      <link rel="stylesheet" href="/frontend/assets/css/animated.css">
      <link rel="stylesheet" href="/frontend/assets/css/owl.css">
      <!--
  
      TemplateMo 564 Plot Listing
  
      https://templatemo.com/tm-564-plot-listing
  
      -->
  </head>
  
  <body>
  
      <!-- ***** Preloader Start ***** -->
      <div id="js-preloader" class="js-preloader loaded">
          <div class="preloader-inner">
              <span class="dot"></span>
              <div class="dots">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </div>
      </div>
      <!-- ***** Preloader End ***** -->
      <!-- ***** Header Area Start ***** -->
      <header class="header-area header-sticky wow slideInDown animated background-header" data-wow-duration="0.75s" data-wow-delay="0s" style="visibility: visible;-webkit-animation-duration: 0.75s; -moz-animation-duration: 0.75s; animation-duration: 0.75s;-webkit-animation-delay: 0s; -moz-animation-delay: 0s; animation-delay: 0s;">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <nav class="main-nav">
                          <!-- ***** Logo Start ***** -->
                          <!-- ***** Logo End ***** -->
                          <!-- ***** Menu Start ***** -->
                          <ul class="nav">
                              <li><a href="#" class="active">Home</a></li>
                              <li><a href="#">Contact Us</a></li>
                          </ul>
                          <a class="menu-trigger">
                              <span>Menu</span>
                          </a>
                          <!-- ***** Menu End ***** -->
                      </nav>
                  </div>
              </div>
          </div>
      </header>
      <!-- ***** Header Area End ***** -->
      
  
      <div class="main-banner">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="top-text header-text">
                          <h6>Album overview to snoop around in</h6>
                          <h2>Albums Library </h2>
                      </div>
                  </div>
                  <div class="col-lg-12">
                      <form id="search-form" name="gs" asp-action="GetSecret" asp-controller="Manipulation">
                          <div class="row">
  
                              <div class="col-lg-3 align-self-center">
                                  <div>
                                      <input asp-for="Query" type="text" class="input-field" (keyup)="SearchQuery($event)">
                                  </div>
                              </div>
                              <div class="col-lg-3">
                                  <fieldset>
                                      <button class="main-button"><i class="fa fa-search"></i> Search Now</button>
                                  </fieldset>
                              </div>
                          </div>
                      </form>
                  </div>
                  <div class="col-lg-10 offset-lg-1">
                      <ul class="categories">
                          <li><a href="#"><span class="icon"><img class="globe-icon" src="https://cdn-icons-png.flaticon.com/512/52/52349.png" alt="Home"></span> More</a></li>
                          <li><a href="#"><span class="icon"><img src="https://cdn-icons-png.flaticon.com/512/69/69524.png" alt="Travel"></span> Home</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  
  
    <div class="align-sub-main-parent">
    <div class=" align-sub-main-child">
    <app-main></app-main>
    </div>
    <div class="sub-container align-sub-main-child-2">
    <app-sub></app-sub>
    </div>
            </div>
            <img src="assets/images/iso-music.png" class="iso">

          <footer>
              <div class="container">
                  <div class="row">
                      <div class="col-lg-4">
                          <div class="about">
                              <div class="logo">
                              </div>
                              <p>Album library, from rock to rap, and everything in between.</p>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="helpful-links">
                              <h4>Helpful Links</h4>
                              <div class="row">
                                  <div class="col-lg-6 col-sm-6">
                                      <ul>
                                          <li><a href="#">Categories</a></li>
                                          <li><a href="#">Reviews</a></li>
                                          <li><a href="#">Listing</a></li>
                                          <li><a href="#">Contact Us</a></li>
                                      </ul>
                                  </div>
                                  <div class="col-lg-6">
                                      <ul>
                                          <li><a href="#">About Us</a></li>
                                          <li><a href="#">Privacy Policy</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="contact-us">
                              <h4>Contact Us</h4>
                              <p>9 Fockemalaan Utrecht</p>
                              <div class="row">
                                  <div class="col-lg-6">
                                      <a href="#">010-020-0340</a>
                                  </div>
                                  <div class="col-lg-6">
                                      <a href="#">090-080-0760</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-12">
                          <div class="sub-footer">
                              <p>
                                  Copyright © 2021 Music Library.
                                  <br>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </footer>
  
  
          <!-- Scripts -->
          <script src="./frontend/vendor/jquery/jquery.min.js"></script>
          <script src="./frontend/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
          <script src="./frontend/assets/js/owl-carousel.js"></script>
          <script src="./frontend/assets/js/animation.js"></script>
          <script src="./frontend/assets/js/imagesloaded.js"></script>
          <script src="./frontend/assets/js/custom.js"></script>
  
  
  
  
  </body>
  </html>